body{
    color:rgb(208, 128, 245);
    background-color:black;
}

header{
     border-bottom: solid 2px rgb(0, 0, 0);
     padding: 20px;
     font-size: 32px;
     color:rgb(171, 122, 216);
     
}

section{
    background-color: rgd(117, 112, 112);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

img{
    height: 200px;
}

.categoria-videos{
       display: flex;
       overflow-x: auto;
       padding-right: 10px;
       gap: 10px;
}

h2{
    padding-left: 20px;
}